[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NPHMC"]
	path = NPHMC
	url = https://github.com/cran/NPHMC
[submodule "smcure"]
	path = smcure
	url = https://github.com/cran/smcure
